:root {
  --lapis-lazuli: #2f6690ff;
  --cerulean: #3a7ca5ff;
  --platinum: #d9dcd6ff;
  --indigo-dye: #16425bff;
  --sky-blue: #81c3d7ff;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--platinum);
  color: var(--indigo-dye);
}

button:hover,
button:focus,
i:hover,
i:focus {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.md-24 {
  font-size: 24px;
}

.md-32 {
  font-size: 32px;
}

.md-48 {
  font-size: 48px;
}

button.common {
  background-color: var(--indigo-dye);
  color: var(--platinum);
  transition: 0.2s ease-in-out;
}

button.common:hover,
button.common:focus {
  background-color: hsla(202, 61%, 22%, 0.8);
}

button.common a{
  text-decoration: none;
  color: var(--platinum)
}

